{{- if .Values.web.ingress.enabled }}
  {{- $annotations := merge dict
      .Values.common.annotations
      .Values.common.ingress.annotations
      .Values.web.annotations
      .Values.web.ingress.annotations
  }}
  {{- $labels := merge dict
      .Values.common.labels
      .Values.common.ingress.labels
      .Values.web.labels
      .Values.web.ingress.labels
  }}
  {{- $domain := include "astronomer.domain" (dict "Release" .Release "Values" .Values "Ingress" .Values.web.ingress) }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "astronomer.name.web" . }}
  annotations:
    {{- tpl (toYaml $annotations) . | nindent 4 }}
    nginx.ingress.kubernetes.io/use-regex: "true"
  labels:
    {{- include "astronomer.labels.web" . | nindent 4 }}
      {{- with $labels }}
      {{- tpl (toYaml .) . | nindent 4 }}
      {{- end }}

spec:
  ingressClassName: {{ .Values.web.ingress.className | default .Values.common.ingress.className }}

  rules:
    - host: {{ $domain }}
      http:
        paths:

          # ================================
          # Astronomer / Airflow Webserver
          # ================================
          - path: /(api|ui|static|health|metrics|favicon.ico)(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "astronomer.service.web" . }}
                port:
                  name: http

          # ================================
          # Pre-login static page (ROOT)
          # ================================
          - path: /
            pathType: Prefix
            backend:
              service:
                name: airflow-prelogin
                port:
                  number: 80

  tls:
    - hosts:
        - {{ $domain }}
      secretName: {{ $domain }}-tls

  {{- end }}
